#content {
    width: 900px;
    margin: auto;
}

body {
    font-family: Helvetica;
    font-weight: 100;
}

#nav {
    text-align: center;
}
#nav div {
    display: inline-block;
    padding: 1em;
}


.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}



.header {
    text-align: center;
}